body {
    margin: 0;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--primery-text-color);

    background-color: var(--primery-bg-color);
}
p {
    margin: 0;
}

