.team {
    background-color: var(--secondary-bg-color);
}
.team__title {
    margin-bottom: 47px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}
.team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
}
.team__item {
    margin-left: var(--card-set-gap);
    flex-basis: calc(100% / 4 - var(--card-set-gap));

    background-color: var(--primery-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team__avatar {
    display: block;
    max-width: 100%;
    height: auto;
}
.team__text {
    padding: var(--card-set-gap) 32px;
    text-align: center;
}
.team__name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.team__incumbency {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    text-align: center;
}